$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 980px;



@mixin desktop {
  @media (min-width: #{$desktop-width + 1}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin fontsize($desktop, $tablet, $phone) {
  font-size: $desktop !important;

  @include tablet {
    font-size: $tablet !important;
  }
  @include phone {
    font-size: $phone !important;
  }
}
a:focus,
button:focus,
.button.alt:focus,
input:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  outline: none !important;
}



@import "pages/create-product";